<tr>
%begin_globals_user_type^neq:Public Access User%
  <td>%asset_assetid%</td>
%end_globals%
  <td>
    <a href="%asset_url%" title="%asset_name%">
      %asset_short_name%
    </a>
  </td>
  <td>%asset_type_icon% %asset_type%</td>
%begin_globals_user_type^neq:Public Access User%
  <td data-sort="%asset_created_by_last_name%, %asset_created_by_first_name%"><abbr title="%asset_created_by_email%">%asset_created_by_name%</abbr></td>
  <td data-sort="%asset_updated%"><abbr title="%asset_updated_readable%">%asset_updated_relative%</abbr></td>
  <td><span class="label small" style="color: #2d2d2d; background-color: %asset_status_colour%;">%asset_status_description%</span></td>
%end_globals%
</tr>
