<div class="col-sm-3">
  <div class="card card-inverse bg-inverse">
    %begin_globals_user_type_code^neq:public_user%
    <div class="small text-xs-center" style="color: #2d2d2d; background-color: %asset_status_colour%;">
      %asset_status_description%
    </div>
    %end_globals%

    %asset_contents_paint_374698^replace:#image_class#:card-img-top img-fluid^replace:#link_class#:link-gallery%
    <div class="card-block">
      <div class="h4">
        <a class="card-title" href="%asset_url%">
          %begin_globals_user_type_code^neq:public_user%
          <img src="%asset_type_icon_url%" alt="%asset_type% icon" title="%asset_type%">
          %end_globals%
          %asset_short_name^htmlentities:ENT_QUOTES%
        </a>
      </div>
      %begin_asset_name^neq:{asset_short_name}%
      <p class="card-text">%asset_name^htmlentities:ENT_QUOTES%</p>
      %end_asset%
      %begin_globals_asset_metadata_jcu.features.byline%
      <div class="card-text">%globals_asset_metadata_jcu.features.byline%</div>
      %end_globals%
    </div>
    %begin_globals_user_type_code^neq:public_user%
    <a class="btn btn-primary btn-block btn-sm p-a-0" href="%globals_site_url%/_edit?limbo_assetid=%asset_assetid%"><span class="icon-edit" aria-label="Edit icon"></span> Edit</a>
    %end_globals%
  </div>
</div>
%begin_asset_position^modulo:4^eq:0%
<div class="clearfix hidden-xs-down"></div>
%end_asset%
