.navbar-brand .brand-img {
  max-height: 4rem;
  height : auto;
}

@media(min-width:992px) {
  .navbar-brand .brand-img {
    max-height: 5rem;
    height : auto;
  }
}

.navbar-custom.navbar-collapsed .brand-img {
  max-height: 3.5rem;
  height : auto;
}

/* mucking around with the grid card layout 
 *  rounded edges, blue background, blue button
 *

.summarycard-layout-grid .card-outline-secondary {
  background-color : #E1F0FC;
  border-style :  none;
  border-radius : 2em;
}

.summarycard-layout-grid .card-outline-secondary img {
  border-top-left-radius : 2em;
  border-top-right-radius : 2em;
}

.summarycard-layout-grid .card-block::after {
  content : none;
}

.summarycard-layout-grid .btn-secondary {
    background-color : #f0fcff;
    border-radius : 1em;
    border-style : none;
}
*/

/* mucking around with the grid card layout 
 *  polaroid style, neutral background, block style button
*/

.cct-summary-cards {
  background-color : #FAF5E3;
}

.summarycard-layout-grid .card-outline-secondary {
  background-color : #ffffff;
  border-style :  none;
  padding : 1rem 1rem 0 1rem;
  /*box-shadow : 0.5rem 0.5rem 0.5rem 0rem #dddddd;*/
}

.summarycard-layout-grid .card-block::after {
  content : none;
}

.summarycard-layout-grid .btn-secondary {
    background-color : #FAF5E3;
    border-style : none;
    display : block;
    
}