.navbar-brand .brand-img {
  max-height: 4rem;
  height : auto;
}

@media(min-width:992px) {
  .navbar-brand .brand-img {
    max-height: 5rem;
    height : auto;
  }
}

.navbar-custom.navbar-collapsed .brand-img {
  max-height: 3.5rem;
  height : auto;
}

body {
  background-color : #2D4047;
}

.jcu-content {
  background-color : #F5F2E9;
}

body.theme-landing {
  background-color : #F5F2E9;
}

.summarycard-layout-grid .btn-secondary {
    background-color : #FAF5E3;
    border-style : none;
    display : block;
}

.summarycard-layout-grid .card-block::after {
  content : none;
}

.summarycard-layout-grid .card-outline-secondary {
  background-color : #ffffff;
  border-style :  none;
  padding : 1rem 1rem 0 1rem;
}

.summarycard-layout-column .row {
  background-color : #ffffff;
  border-style :  none;
  padding : 1rem 0;
}

.btn-primary {
    background-color : #2D4047;
    border-color : #2D4047;
}

.btn-secondary {
    background-color : #FAF5E3;
    border-color : #FAF5E3;
}
