/*csslint ids:false*/

/* For linting, we ignore ID rules because Matrix Edit+ uses them and we can't
 * achieve greater specificity without doing the same.
 *
 * See more info about CSS customisations at
 * https://matrix-manuals.squiz.net/edit-plus/chapters/css-customisations.
 */

/*
 * General and Content
 */

/* Prevent Edit+ from being oversized */
body.previewMode {
  width: auto;
  height: auto;
}

.guiButton .label {
    color: #535353;
}

#ees_toolBarLogo {
  background-image: url("./?a=281218:dist/images/jcua-logo-colour.svg?v=%globals_asset_version:281218%");
  background-repeat: no-repeat;
  height: 43px;
  width: 120px;
  background-size: contain;
  margin-top: 0;
  margin-left: 1rem;
}

/* Performance improvement for loader icon; 220KB otherwise...  */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg);}
}

.spinner {
  position: relative;
  display: inline-block;
  min-height: 8rem;
  min-width: 8rem;
  top: 35%;
  left: 45%;
}

.spinner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'Loading…';
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border-top: 1rem solid #06c;
  border-right: 1rem solid transparent;
  animation: spinner .8s linear infinite;
  -webkit-animation: spinner .8s linear infinite;
  -moz-animation: spinner .8s linear infinite;
}

/* .row conflicts with Framework so set no margins, and only configure margins
 * for WYSIWYG fields.
 */
.plus .content_type_wysiwyg .metadata .row,
.row {
  margin-left: 0;
  margin-right: 0;
  margin-left: initial;
  margin-right: initial;
}

.plus .content_type_wysiwyg .row {
  margin-right: -.625rem;
  margin-left: -.625rem;
}

/* Unfix the width of the content editor wrapper */
.plus .content #ees_screenContentWrapper {
  max-width: none;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Unfix the width of the content editor */
.plus #ees_viperContent, .plus .ees_viperContent {
  width: auto;
}

/* Unfix the width and improve styles of raw code editing */
.plus .content_type_raw_html textarea.sq-backend-code-editing, .plus .content_type_markdown textarea.sq-backend-code-editing, .plus .content_type_code textarea.sq-backend-code-editing {
  width: 100%;
  min-height: 200px;
  margin: 0;
  border: 0 none;
}

/* Tooltip un-fixed widths */
#ees_exitEditTooltip .tooltipButtons a {
  width: auto;
}

/* Tooltip and wizard un-fixed heights */
.defaultCreate input.textInput, .defaultCreate textarea.textInput,
#ees_pageNaming .inputText, #ees_detailsRedirect .inputText, .details-screen-section .inputText, .eesTooltip .inputText,
.plus .tooltipEditDiv input[type="text"],
.plus .tooltipEditDiv textarea,
#ees_editURLs .inputText
{
  height: auto !important;
}

/* Shrinking vertical spacing */
#ees_screenContentWrapper {
  margin-top: 0;
  margin-bottom: 0;
}
.plus .bodycopy_manager_div {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
#ees_viperContentWrapper.withViper, .ees_viperContentWrapper.withViper {
  padding-top: 30px;
}

/* Show the Asset ID after creation in the Wizard */
.success .assetId.screenHide {
  display: inline-block;
  position: relative;
  overflow: auto;
  top: 0;
  height: auto;
  width: auto;
  line-height: 1;
  font-style: italic;
}

.success .assetId.screenHide::before {
  content: "Created asset ID #";
  font-style: normal;
  font-weight: 600;
}

/* Show the form field editor buttons without needing to hover */
.custom-form-question .custom-form-question__edit-tools {
  display: table !important;
}

.custom-form-question .custom-form-question__drag-handle {
  display: block;
}

/*
 * Main Edit+ toolbar
 */

/* Reset conflicts with button list */
#ees_screenMenuList {
  margin-bottom: 0;
}

/* Clear default paddings */
#ees_screenMenuList,
.wizardQueue .queue {
  padding-left: 0;
}

/* Accessibility select drop-down */
.HTMLCS-settings select {
  color: #000;
}

/* Asset info tooltip */
#ees_infoBoxTooltip .row .label {
  display: block;
  width: auto;
  float: none;
  padding: 0;
  color: #000;
  text-align: left;
}

#ees_infoBoxTooltip .data {
  display: block;
  max-width: none;
}

/* Exit contents */
#ees_exitEditTooltip .tooltipContent {
  color: inherit;
}

/*
 * Details panel
 */

/* Fix invisible text due to line-heights */
#ees_thumbnailPreview {
  overflow: visible;
  line-height: inherit;
}

/* Reset line height for rows on this screen */
#ees_pageNaming .row,
#ees_detailsRedirect .row {
  line-height: initial;
}

/* Highlight the page name fields */
#ees_pageNaming .cellName {
  font-weight: 600;
}

/*
 * Content panel
 */

/* There's no reason to show this, there's only ever 1 metadata schema on a
 * Content Container Template */
/*.content_template_custom_layout .schemaHeading_0 {
  display: none;
}*/

/* Fix spacing for Content Container Templates */
/*.content_template_custom_layout #ees_editMetadata {
  padding: 1rem;
  border-top: 0 none;
}*/

/*.content_template_custom_layout .metadata h4,
.content_template_custom_layout #ees_editMetadata h4 {
  padding: 0;
}*/

/* Form editing widget spacing */
.ees-option-widget__list {
  padding-left: 0;
}

/* Alert users to permanency of edits made with the image editor */
#ees_imageDetailsOverlay #ees_editDetails::before {
  content: "Note: any edits you make here to this image are permanent and affect the original image itself. This means that changes will affect all pages that use this image too.";
  margin: 1rem;
  padding: 1rem;
  display: block;
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

/* Reduce spacing and heights in image editor */
#ees_imageDetailsContainer .sectionHeading {
  margin: 0;
}
#ees_imageVarietiesSelection,
#ees_imageVarietiesAction,
#ees_imageVarietiesPreview {
  height: 300px;
}

/* Fix Viper labels, buttons and other heights with non-pixel perfect design */
#ees_imageEditorContainer .input-group-sm > .form-control,
#ees_imageEditorContainer .input-group-sm > .input-group-addon,
#ees_imageEditorContainer .input-group-sm > .input-group-btn > .btn,
#ees_imageAttributes .inputText,
#ees_imageVarietiesSelection .addVarietyButton,
.Viper-chooseAssetRow .Viper-textbox-label {
  height: auto;
}

#ees_imageEditorContainer .input-group .form-control {
  width: auto;
}

#ees_imageEditorContainer .btn {
  color: #636363;
}

/* Squiz Matrix is using FIXED WIDTHS for Bootstrap grids */
#ees_imageEditorContainer .col-md-3 {
  width: 280px;
  text-align: inherit;
}

/* Un-fix widths for comment buttons */
.Matrix-Viper-commentdialog-buttonArea a,
.Matrix-Viper-commentdialog-buttonArea a:visited {
  width: auto;
}

/*
 * Metadata panel
 */

#ees_screenMenuList .metadata {
  background-image: none,url("mysource_files/screenIcon-settings.svg");
}

/* Metadata heading heights */
.metadata h3, #ees_editMetadata h3 {
  margin-bottom: 1rem;
}

/* Metadata fixed-width uses content-box */
.editSection .cellName,
.editSection .cellData {
  box-sizing: content-box;
}

/* Improve colours for edit cells so they're readable */
.editSection .cellData .defaultLabel,
.sq-metadata-settings-wrapper,
.editSection .cellData {
  color: inherit;
}
.cellData select {
  background-color: #fff;
}

/* Hide repeating default message on locked fields */
.locked .sq-metadata-settings-wrapper {
  display: none;
}

/* Try and show slightly more helpful value than just nothing */
.locked .sq-metadata-contents:empty::before {
  content: "Empty setting (or 'Use default value' selected)";
}

/* Reduce spacing for metadata fields */
.cellData label {
  margin-bottom: 0;
}
.metadata .cellData td {
  padding-bottom: 0;
}
.metadata .cellData li {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Collapsing metadata sections */
.metadata h3, #ees_editMetadata h3 {
  margin-bottom: 0;
}
.metadata h4, #ees_editMetadata h4 {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.collapse-toggle-expand,
.collapse-toggle-collapse {
  color: #aaa;
  font-weight: 600;
}

.collapse-toggle,
.collapse-toggle:hover,
.collapse-toggle:focus {
  text-decoration: none;
}
.metadata .collapse-toggle {
  padding-top: 0.5rem;
  background: #fafafa;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dce3ec;
}
.collapse-toggle [class^="sectionHeading_"]::after {
  content: "–";
  display: inline;
  margin-left: 0.5rem;
  padding: 0.1em;
  color: #aaa;
}
.collapse-toggle.collapsed [class^="sectionHeading_"]::after {
  content: "+";
}
.editSection {
  border-top: 0 none;
}
.content_template_custom_layout {
  margin-bottom: .5rem;
}

/*
 * Links panel
 */

/* Always show drag icons and UI on*/
.child .linkingScreenShortCut,
#ees_editLinking .ees_directChildrenList .dragIcon {
  visibility: visible;
}

/* Reposition the hover magnifying glass icon */
.ees_assetInfo:hover, .ees_directChildrenList .assetInfo:hover {
  background-position-x: 88%;
}

/* Hide the pointless Link Value field */
.ees_locationLinks .linkValueHeading,
.ees_locationLinks .linkValue {
  display: none;
}

/*
 * URLs panel
 */

/* Remove extraneous margin, padding already present */
#ees_listCurrentUrls ul {
  margin-left: 0;
}

/* Reset line height for rows on this screen */
#ees_editURLs .row {
  line-height: initial;
}

/* Add helper text to web path input fields */
#ees_webPaths {
  counter-reset: path-row-counter;
}
#ees_newWebPath::before {
  content: "New Path";
}
#ees_webPaths .row::before {
  content: "Path " counter(path-row-counter,decimal);
  counter-increment: path-row-counter;
}
#ees_newWebPath::before,
#ees_webPaths .row::before {
  font-weight: 600;
  margin-right: 2rem;
}

