/*csslint ids:false*/

/* Integration process:
 * 1. Remove all reset rules from easyedit.min.css
 * 2. Remove all rules for `* .content_type_wysiwyg *` from easyedit.min.css
 * 3. Apply these customisations on top of easyedit.min.css; they are
 *    separated out for ease of visibility.
 *
 * For linting, we ignore ID rules because Matrix Edit+ uses them and we can't
 * achieve greater specificity without doing the same.
 *
 * See more info about CSS customisations at
 * https://matrix-manuals.squiz.net/edit-plus/chapters/css-customisations.
 */

/*
 * General and Content
 */

.guiButton .label {
    color: #535353;
}

#ees_toolBarLogo {
  background-image: url("https://www.jcu.edu.au/?a=281218:dist/images/jcua-logo-colour.svg");
  background-repeat: no-repeat;
  height: 43px;
  width: 120px;
  background-size: contain;
  margin-top: 0;
  margin-left: 1rem;
}

/* Performance improvement for loader icon; 220KB otherwise...  */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg);}
}

.spinner {
  position: relative;
  display: inline-block;
  min-height: 8rem;
  min-width: 8rem;
  top: 35%;
  left: 45%;
}

.spinner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'Loading…';
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border-top: 1rem solid #06c;
  border-right: 1rem solid transparent;
  animation: spinner .8s linear infinite;
  -webkit-animation: spinner .8s linear infinite;
  -moz-animation: spinner .8s linear infinite;
}

/* .row conflicts with Framework so set no margins, and only configure margins
 * for WYSIWYG fields.
 */
.row {
  margin-left: 0;
  margin-right: 0;
  margin-left: initial;
  margin-right: initial;
}

.plus .content_type_wysiwyg .row {
  margin-right: -.625rem;
  margin-left: -.625rem;
}

/* Unfix the width of the content editor wrapper */
.plus .content #ees_screenContentWrapper {
  max-width: none;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Unfix the width of the content editor */
.plus #ees_viperContent, .plus .ees_viperContent {
  width: auto;
}

/* Unfix the width and improve styles of raw code editing */
.plus .content_type_raw_html textarea.sq-backend-code-editing, .plus .content_type_markdown textarea.sq-backend-code-editing, .plus .content_type_code textarea.sq-backend-code-editing {
  width: 100%;
  min-height: 200px;
  margin: 0;
  border: 0 none;
}

/* Tooltip un-fixed widths */
#ees_exitEditTooltip .tooltipButtons a {
  width: auto;
}

/* Tooltip and wizard un-fixed heights */
.defaultCreate input.textInput, .defaultCreate textarea.textInput,
#ees_pageNaming .inputText, #ees_detailsRedirect .inputText, .details-screen-section .inputText, .eesTooltip .inputText,
.plus .tooltipEditDiv input[type="text"],
.plus .tooltipEditDiv textarea,
#ees_editURLs .inputText
{
  height: auto !important;
}

/* Show the Asset ID after creation in the Wizard */
.success .assetId.screenHide {
  display: inline-block;
  position: relative;
  overflow: auto;
  top: 0;
  height: auto;
  width: auto;
  line-height: 1;
  font-style: italic;
}

.success .assetId.screenHide::before {
  content: "Created asset ID #";
  font-style: normal;
  font-weight: 600;
}


/*
 * Main Edit+ toolbar
 */

/* Reset conflicts with button list */
#ees_screenMenuList {
  margin-bottom: 0;
}

/* Clear default paddings */
#ees_screenMenuList,
.wizardQueue .queue {
  padding-left: 0;
}

/* Accessibility select drop-down */
.HTMLCS-settings select {
  color: #000;
}

/* Asset info tooltip */
#ees_infoBoxTooltip .row .label {
  display: block;
  width: auto;
  float: none;
  padding: 0;
  color: #000;
  text-align: left;
}

#ees_infoBoxTooltip .data {
  display: block;
  max-width: none;
}

/* Exit contents */
#ees_exitEditTooltip .tooltipContent {
  color: inherit;
}

/*
 * Details panel
 */

/* Fix invisible text due to line-heights */
#ees_thumbnailPreview {
  overflow: visible;
  line-height: inherit;
}

/*
 * Metadata panel
 */

/* Metadata heading heights */
.metadata h3, #ees_editMetadata h3 {
  margin-bottom: 1rem;
}

/* Metadata fixed-width uses content-box */
.editSection .cellName,
.editSection .cellData {
  box-sizing: content-box;
}

/* Improve colours for edit cells so they're readable */
.editSection .cellData .defaultLabel,
.sq-metadata-settings-wrapper,
.editSection .cellData {
  color: inherit;
}
.cellData select {
  background-color: #fff;
}

/*
 * Links panel
 */

/* Always show drag icons and UI on*/
.child .linkingScreenShortCut,
#ees_editLinking .ees_directChildrenList .dragIcon {
  visibility: visible;
}

/* Reposition the hover magnifying glass icon */
.ees_assetInfo:hover, .ees_directChildrenList .assetInfo:hover {
  background-position-x: 88%;
}

/*
 * URLs panel
 */

/* Remove extraneous margin, padding already present */
#ees_listCurrentUrls ul {
  margin-left: 0;
}
